
<div id="message-container" style="color: red;">
    <% if(locals.errors && locals.errors.length > 0){ %>
        <% locals.errors.forEach(function(error) { %>
           <div class="mb-4 p-3 bg-red-100 border border-red-200 text-red-700 rounded-lg" role="alert">
                <i class="fas fa-times-circle"></i> <%= error.msg %>  
            </div>
        <% }); %>
    <% } %>
    
    <% if(success_msg && success_msg != ''){ %>
        <div class="mb-4 p-3 bg-green-100 border border-green-200 text-green-700 rounded-lg" role="alert">
            <i class="fas fa-check-circle"></i> <%= success_msg %> 
        </div>
    <% } %>
  
    <% if(error_msg && error_msg != ''){ %>
        <div class="mb-4 p-3 bg-red-100 border border-red-200 text-red-700 rounded-lg" role="alert">
            <i class="fas fa-times-circle"></i> <%= error_msg %>
        </div>
    <% } %>
  
    <% if(error && error != ''){ %>
        <div class="alert alert-warning alert-dismissible fade show py-2 small" role="alert">
            <i class="fas fa-times-circle"></i> <%= error %> 
        </div>
    <% } %>
  
    <% if(warning_msg && warning_msg != ''){ %>
       <div class="alert alert-warning alert-dismissible fade show py-2 small" role="alert">
            <i class="fas fa-exclamation-circle"></i> <%= warning_msg %>
        </div>
    <% } %>
  </div>
  